#about {
  width: 100%;
  height: 100%;
  background-color: $mainWhite;
  @include flex(column, space-between, center);
}

.about__description {
  min-height: 160vh;
  width: 80%;
  @include flex(column, center, center);
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2rem;
  margin-bottom: 2rem;
  h1 {
    font-size: $sectionHeader;
    font-family: $headerFamily;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin: 3rem 0;
  }
  p {
    letter-spacing: 0.08rem;
    font-size: $fontText;
    padding: 2rem 0;
  }
  .about__description--name {
    align-self: flex-end;
    font-family: $headerFamily;
    font-size: $cardsBodyHeader;
    font-weight: 800;
    letter-spacing: 0.2rem;
    margin: 2rem 0;
  }
}

.about__photo {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 920px) {
  .about__description {
    width: 70%;
    h1 {
      font-size: $sectionHeader * 1.2;
    }
    p {
      font-size: $fontText * 1.2;
    }
    .about__description--name {
      font-size: $cardsBodyHeader * 1.2;
    }
  }
}

@media screen and (min-width: 1200px) {
  #about {
    flex-direction: row;
    height: 110vh;
  }
  .about__description {
    flex: 1 1 40%;
    h1 {
      font-size: $sectionHeader * 1.4;
    }
    p {
      width: 70%;
      font-size: $fontText * 1.4;
    }
    .about__description--name {
      align-self: center;
      text-align: center;
      width: 30rem;
      font-size: $cardsBodyHeader * 1.4;
    }
  }
  .about__photo {
    flex: 1 1 50%;
    img {
      object-position: top;
    }
  }
}

@media screen and (min-width: 1600px) {
  .about__description {
    flex: 1 1 40%;
    h1 {
      font-size: $sectionHeader * 1.6;
    }
    p {
      width: 70%;
      font-size: $fontText * 1.6;
    }
    .about__description--name {
      font-size: $cardsBodyHeader * 1.6;
    }
  }
}
