#about {
  height: 90vh;
  background-color: $mainWhite;
  display: flex;
  justify-content: space-between;
}
.about--description {
  flex-basis: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  h2 {
    font-size: $fontH1;
    font-family: "Open Sans Condensed", sans-serif;
  }
  p {
    font-size: $fontText;
    margin-right: 5rem;
  }
}
.about--portrait {
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about--wrapper {
  flex-basis: 50%;
  position: relative;
}
