#about {
  height: 110vh;
  width: 100%;
  background-color: $mainWhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__description {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: $sectionHeader;
    font-family: $headerFamily;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin: 1rem 0;
  }
}
.about__description--content {
  margin: 1rem 0;
  letter-spacing: 0.08rem;
  font-size: $fontText;
}
.about__description--name {
  align-self: flex-end;
  margin: 2rem 0;
  font-family: $headerFamily;
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 920px) {
  .about__description {
    width: 70%;
    h1 {
      font-size: $sectionHeader * 1.2;
    }
    p {
      font-size: $fontText * 1.2;
    }
  }
}

@media screen and (min-width: 1200px) {
  #about {
    height: 100vh;
  }
}
