.contact {
  background-color: $mainBlack;
  color: $mainWhite;
  min-height: min-content;
  width: 100vw;
  @include flex(column, space-between, center);
  &__copy-rights {
    font-size: $priceText;
    opacity: 0.8;
    width: 100%;
    padding: 1.5rem 0;
    background-color: $hoverBg;
    @include flex(column, center, center);
  }
  &__info {
    margin: 2rem 0;
  }
  &__info-header {
    font-family: $headerFamily;
    letter-spacing: 0.1rem;
    font-size: $fontH1;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  &__info-icon {
    font-size: $cardsHeader;
    margin-right: 1rem;
  }
  &__info-text {
    font-size: $priceText;
    margin: 1.5rem 0;
  }
  &__socials {
    align-self: center;
  }
  &__social-item {
    font-size: $iconSize;
    margin: 0 1.5rem;
    cursor: pointer;
  }
  &__social-list {
    @include flex(row, center, center);
  }
  &__text {
    margin: 0 2rem;
    align-self: center;
  }
  &__text-span {
    display: flex;
    margin: 0.5rem 0;
  }
  &__wrapper {
    @include flex(column, center, flex-start);
    margin: 3rem 0;
  }
}

@media (min-width: 576px) {
  .contact {
    &__copy-rights,
    &__info-text {
      font-size: $priceText * 1.2;
    }
    &__info-header {
      font-size: $fontH1 * 1.2;
    }
    &__info-icon {
      font-size: $cardsHeader * 1.2;
    }
    &__social-item {
      font-size: $iconSize * 1.2;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    &__copy-rights,
    &__info-text {
      font-size: $priceText * 1.4;
    }
    &__info {
      padding: 0 5rem;
      flex: 1 0 40%;
    }
    // &__info-header {
    //   font-size: $fontH1 * 1.2;
    // }
    &__info-icon {
      font-size: $cardsHeader * 1.4;
    }
    &__social-item {
      font-size: $iconSize * 1.4;
    }
    &__text-span {
      display: inline;
    }
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 1200px) {
  .contact {
    &__copy-rights {
      padding: 2.5rem 0;
    }
    // &__copy-rights,
    // &__info-text {
    //   font-size: $priceText * 1.6;
    // }
    // &__info-header {
    //   font-size: $fontH1 * 1.6;
    // }
    // &__info-icon {
    //   font-size: $cardsHeader * 1.6;
    // }
    // &__info-text {
    //   font-size: $priceText * 1.2;
    // }
    // &__social-item {
    //   font-size: $iconSize * 1.6;
    // }
    &__wrapper {
      flex-wrap: nowrap;
    }
  }
}
@media (min-width: 1200px) and (max-height: 1000px) {
  .contact {
    // &__copy-rights,
    // &__info-text {
    //   font-size: $priceText * 1.4;
    // }
    &__info {
      padding: 0 5rem;
      flex: 1 0 40%;
    }
    // &__info-header {
    //   font-size: $fontH1 * 1.4;
    // }
    // &__info-icon {
    //   font-size: $cardsHeader * 1.4;
    // }
    // &__social-item {
    //   font-size: $iconSize * 1.4;
    // }
}
}
// @media (min-width: 1800px) {
//   .contact {
//     &__copy-rights,
//     &__info-text {
//       font-size: $priceText * 1.8;
//     }
//     &__info-header {
//       font-size: $fontH1 * 1.8;
//     }
//     &__info-icon {
//       font-size: $cardsHeader * 1.8;
//     }
//     &__info-text {
//       font-size: $priceText * 1.6;
//     }
//     &__social-item {
//       font-size: $iconSize * 1.8;
//     }
//   }
// }
