#gallery {
  width: 95%;
  margin: 0 auto;
  h1 {
    font-size: $fontH1;
    font-family: $headerFamily;
    text-align: center;
    margin: 2rem 0;
  }
  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1200px) {
  #gallery {
    h1 {
      font-size: $sectionHeader * 1.2;
    }
  }
}

@media (min-width: 1800px) {
  #gallery {
    h1 {
      font-size: $sectionHeader * 1.4;
    }
  }
}

.gallery__wrapper {
  @include flex(row, center, stretch);
  flex-wrap: wrap;
}

.regular-image,
.more {
  flex: 1 0 40%;
  margin: 0.5rem;
}

@media (min-width: 560px) {
  .regular-image,
  .more {
    flex: 1 0 30%;
  }
}

@media (min-width: 960px) {
  .regular-image,
  .more {
    flex: 1 0 20%;
  }
}

@media (min-width: 1480px) {
  .regular-image,
  .more {
    flex: 1 0 15%;
  }
}

.regular-image {
  cursor: pointer;
  overflow: hidden;
  img {
    transition: all 1s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.more {
  background-color: $mainBlack;
  opacity: 0.95;
  color: white;
  @include flex(row, center, center);
  font-size: 3rem;
  font-family: $headerFamily;
  cursor: pointer;
  p {
    padding: 5rem;
  }
  &:hover {
    opacity: 0.8;
  }
}