.gallery {
  width: 95%;
  margin: 0 auto;
  &__big-image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: top;
  }
  &__big-wrapper {
    width: 70%;
    height: 70%;
  }
  &__close-icon {
    top: 2%;
    right: 3%;
    transform: translate(-3%, -2%);
  }
  &__close-icon,
  &__left-icon,
  &__right-icon {
    color: white;
    position: absolute;
    font-size: 3rem;
    opacity: 0.8;
    cursor: pointer;
  }
  &__header {
    color: $mainBlack;
    font-size: $sectionHeader;
    font-family: $headerFamily;
    text-align: center;
    margin: 2rem 0;
  }
  &__left-icon {
    top: 40%;
    left: 1%;
    transform: translate(-1%, -40%);
  }
  &__regular-image {
    // transition: all 1s ease-in-out;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    &:hover {
      // transform: scale(1.2);
      opacity: 0.8;
    }
  }
  &__regular-wrapper {
    position: relative;
    flex: 1 0 40%;
    margin: 0.5rem;
    // overflow: hidden;
    min-height: 200px;
  }
  &__right-icon {
    top: 40%;
    right: 1%;
    transform: translate(-1%, -40%);
  }
  &__swiper {
    height: 100vh;
    width: 100vw;
    background-color: black;
    @include flex(column, space-around, center);
    position: relative;
    display: none;
    top: 0;
    left: 0;
    padding-top: 3.4rem;
    padding-bottom: 1rem;
  }
  &__swiper.active {
    position: fixed;
    display: flex;
  }
  &__thumb {
    object-fit: cover;
    object-position: center;
    width: auto;
    height: 100%;
    cursor: pointer;
    translate: all 0.6s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
  &__thumbs {
    display: none;
    height: 20%;
    width: 100%;
    margin-top: 3rem;
    @include flex(row, center, center);
    overflow-x: scroll;
  }
  &__wrapper {
    @include flex(row, center, stretch);
    flex-wrap: wrap;
  }
}

@media (min-width: 560px) {
  .gallery {
    &__regular-wrapper {
      flex: 1 0 30%;
    }
  }
}
@media (min-width: 576px) {
  .gallery {
    &__header {
      font-size: $sectionHeader * 1.2;
    }
    &__big-wrapper {
      width: 60%;
    }
  }
}

@media (min-width: 768px) {
  .gallery {
    &__big-image {
      object-position: top;
    }
    &__big-wrapper {
      width: 55%;
    }
    &__close-icon {
      top: 5%;
      right: 15%;
      transform: translate(-15%, -5%);
    }
    &__header {
      font-size: $sectionHeader * 1.4;
    }
    &__left-icon {
      top: 40%;
      left: 15%;
      transform: translate(-15%, -40%);
    }
    &__right-icon {
      top: 40%;
      right: 15%;
      transform: translate(-15%, -40%);
    }
  }
}

@media (min-width: 992px) {
  .gallery {
    &__big-wrapper {
      max-width: 40%;
    }
    &__close-icon {
      top: 5%;
      right: 20%;
      transform: translate(-20%, -5%);
    }
    &__close-icon,
    &__right-icon,
    &__left-icon {
      font-size: $iconSize * 1.2;
    }
    &__left-icon {
      top: 40%;
      left: 20%;
      transform: translate(-20%, -40%);
    }
    &__right-icon {
      top: 40%;
      right: 20%;
      transform: translate(-20%, -40%);
    }
    &__regular-wrapper {
      flex: 1 0 20%;
    }
  }
}

@media (min-width: 1200px) {
  .gallery {
    &__big-wrapper {
      width: 45%;
    }
    &__regular-wrapper {
      flex: 1 0 15%;
    }
  }
}

@media (min-height: 800px) {
  .gallery {
    &__big-wrapper {
      height: 80%;
    }
    &__thumbs {
      height: 15%;
    }
  }
}
