.fa-bars {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-10%, -50%);
  font-size: 3rem;
  opacity: 0.8;
  cursor: pointer;
}
.fa-bars {
  color: $mainWhite;
}

header {
  width: 100%;
  height: 20vh;
  position: relative;
  background: url(../../img/Frame1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $mainBlack;
}
hr {
  width: 200%;
  opacity: 0.8;
}

.navigation {
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
  background-color: $mainBlack;
  z-index: 2;
  font-size: $fontH1;
  color: $mainWhite;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.navigation_list {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-10%, -10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  li,
  hr {
    margin: 0.5rem 0;
    a {
      color: $mainWhite;
    }
  }
  li {
    cursor: pointer;

    &:hover {
      background-color: #474747;
      animation: changeBackgroundWidth 1s ease-in-out forwards;
      // transform: scaleX(2);
      // transform: translateX(-10%);
    }
  }
}
.fa-times {
  opacity: 0.8;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.active {
  display: flex;
}
@keyframes changeBackgroundWidth {
  from {
    width: 100%;
  }
  to {
    width: 200%;
  }
}
