.navigation {
  width: 100%;
  height: 15vh;
  position: relative;
  background-color: $mainBlack;
  position: fixed;
  z-index: 1;
  &__btn {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    @include flex(column, center, center);
    cursor: pointer;
    z-index: 2;
    background-color: $mainBlack;
    border: none;
  }
  &__btn-line {
    width: 4rem;
    height: 0.4rem;
    margin: 0.3rem 0;
    background-color: $mainWhite;
    opacity: 0.8;
  }
  &__btn-line--one {
    transform: rotate(0) translateY(0) translateX(0);
    transition: all 0.2s ease-in-out;
  }
  &__btn-line--one.active {
    transform: rotate(136deg) translateY(-9px) translateX(5px);
    height: 0.5rem;
  }
  &__btn-line--three {
    transform: rotate(0) translateY(0) translateX(0);
    transition: all 0.2s ease-in-out;
  }
  &__btn-line--three.active {
    transform: rotate(-136deg) translateY(9px) translateX(5px);
    height: 0.5rem;
  }
  &__btn-line--two {
    transform: translateX(0%);
    transition: all 0.4s ease-in-out;
    opacity: 0.8;
  }
  &__btn-line--two.active {
    transform: translateX(-100%);
    opacity: 0;
  }
  &__item {
    width: 70%;
    @include flex(row, flex-start, center);
    flex: 1 1 10%;
    padding: 0.5rem 1rem;
    font-size: $fontH1 * 1.4;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $hoverBg;
    }
  }
  &__line {
    width: 70%;
  }
  &__link {
    width: 60%;
    height: 100%;
    display: block;
    cursor: pointer;
  }
  &__list {
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, flex-end);
    padding: 5rem 3rem;
    padding-top: 10rem;
  }
  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__wrapper {
    width: 100%;
    height: 100vh;
    @include flex(row, flex-start, flex-end);
    position: fixed;
    top: 0;
    left: 0;
    color: $mainWhite;
    font-family: $headerFamily;
    display: none;
  }
  &__wrapper.active {
    display: block;
    background-color: $mainBlack;
  }
}

@media (min-width: 700px) {
  .navigation {
    &__item {
      width: 60%;
      font-size: $fontH1 * 1.8;
    }
    &__line {
      width: 60%;
    }
  }
}

@media (min-height: 400px) {
  .navigation {
    &__item {
      flex-grow: revert;
    }
    &__list {
      padding-top: 15rem;
    }
  }
}
@media (min-width: 1200px) {
  .navigation {
    height: 17vh;
    @include flex(row, center, center);
    &__btn {
      display: none;
    }
    &__item {
      @include flex(row, center, center);
      flex: 1 1 15rem;
      box-sizing: content-box;
      font-size: $fontH1 * 1.6;
    }
    &__line {
      display: none;
    }
    &__link {
      width: 30%;
      flex: 2 1 20%;
    }
    &__list {
      @include flex(row, space-around, center);
      padding: 0;
      padding-top: 0 !important;
    }
    &__wrapper {
      height: 17vh;
      position: initial;
      @include flex(row, space-between, center);
      flex: 1 1 40%;
    }
  }
}

@media (min-height: 1400px) {
  .navigation {
    &__list {
      padding-top: 20rem;
    }
  }
}

@media (min-width: 1800px) {
  .navigation {
    height: 20vh;
    &__list {
      justify-content: flex-end;
    }
    &__link {
      flex: 2 1 40%;
    }
    &__item {
      font-size: $fontH1 * 2;
    }
    &__wrapper {
      height: 20vh;
      flex: 1 1 40%;
    }
  }
}

@media (min-width: 1800px) and (min-height: 1500px) {
  .navigation {
    &__logo {
      width: 100%;
      padding: 5rem 0;
    }
    &__item {
      min-width: 15rem;
      font-size: $fontH1 * 2.5;
    }
  }
}

@media (min-width: 2000px) {
  .navigation {
    &__link {
      flex-grow: 2;
    }
    &__list {
      padding-top: 25rem;
    }
    &__wrapper {
      margin-right: 15%;
    }
  }
}
