@media only screen and (min-height: 650px) {
  header {
    height: 40vh;
  }
}

@media only screen and (min-height: 750px) {
  header {
    height: 35vh;
  }
}

@media only screen and (min-height: 850px) {
  header {
    height: 30vh;
  }
}

@media only screen and (min-height: 950px) {
  header {
    height: 25vh;
  }
}

// @media only screen and (min-width: 900px) {

//   .navigation {
//     display: flex;
//     min-height: 25vh;
//     width: 75%;
//     margin-top: 5%;
//     left: 30%;
//     background-color: $mainBlack;

//     a,
//     hr {
//       display: none;
//     }
//   }
//   .navigation_list {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-content: center;
//     align-items: center;
//     li {
//       flex: 1 1 5rem;
//       a {
//         color: $mainBlack;
//         display: block;
//         margin: 2rem 2rem;
//         color: $mainWhite;
//       }
//     }
//   }
// }

// @media only screen and (min-width: 900px) {
//   header {
//     background: url(../img/Frame3.svg);
//     background-repeat: no-repeat;
//     background-position: left;
//     background-size: contain;
//     background-color: $mainBlack;
//   }
//   hr {
//     display: none;
//   }
//   // .fa-bars,
//   // .fa-times {
//   //   z-index: -3;
//   // }
//   .navigation {
//     height: 20vh;
//     width: 60%;
//     margin-left: auto;
//     margin-right: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     a {
//       display: none;
//     }
//   }

//   .navigation_logo {
//     display: none;
//   }

//   .navigation_list {
//     margin: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     align-content: center;

//     li {
//       flex: 1 1 5rem;
//       &:hover {
//         background-color: $grayHighlight;
//       }
//       a {
//         color: $mainBlack;
//         flex: 1 1 2vh;
//       }
//     }
//   }
// }
