.priceList {
  background-color: $mainBlack;
  @include flex(column, center, stretch);
  padding-bottom: 4rem;
  h1 {
    color: $mainWhite;
    font-size: $sectionHeader;
    font-family: $headerFamily;
    margin: 2rem 0;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .priceList {
    flex-direction: row;
    flex-wrap: wrap;
    h1 {
      font-size: $sectionHeader * 1.2;
      // align-self: flex-end;
      width: 100%;
    }
  }
}

@media (min-width: 1800px) {
  .priceList h1 {
    font-size: $sectionHeader * 1.4;
  }
}

.priceList__card {
  background-color: $mainWhite;
  width: 80%;
  margin: 2rem auto;
  @include flex(column, space-between, stretch);
  transition: all 2s ease-in-out;
  h2 {
    font-family: $headerFamily;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 2rem;
    font-size: $cardsHeader;
  }
}

@media (min-width: 1200px) {
  .priceList__card h2 {
    font-size: $cardsHeader * 1.2;
  }
  .card1 {
    order: 3;
  }
  .card2 {
    width: 35%;
    margin-left: 10%;
  }
  .card3 {
    width: 35%;
    margin-right: 10%;
    justify-content: flex-start;
  }
}

@media (min-width: 1500px) {
  .card1,
  .card2,
  .card3 {
    margin: 2rem 5rem;
    width: 50%;
    justify-content: center;
  }
}

@media (min-width: 1800px) {
  .priceList__card h2 {
    font-size: $cardsHeader * 1.4;
  }
}

.card--body {
  @include flex(column, space-between, stretch);
  font-size: $priceText;
  width: 90%;
  margin: 2rem auto;
  h3 {
    font-family: $headerFamily;
    letter-spacing: 0.1rem;
    font-size: $cardsBodyHeader;
    text-align: center;
  }
  hr {
    margin: 1rem 0;
  }
  span {
    font-family: $headerFamily;
    font-weight: 700;
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .card--body {
    font-size: $priceText * 1.2;
    h3 {
      font-size: $cardsBodyHeader * 1.2;
    }
  }
}

@media (min-width: 1800px) {
  .card--body {
    font-size: $priceText * 1.4;
    h3 {
      font-size: $cardsBodyHeader * 1.4;
    }
  }
}

.body--note {
  margin: 1.2rem 0;
  p {
    font-size: 1.2rem;
  }
}

.body--uncover,
.body--hide {
  font-size: 4rem;
  cursor: pointer;
  opacity: 0.8;
  align-self: flex-end;
  padding: 1rem 2rem;
  .fa-chevron-circle-down {
    pointer-events: none;
  }
}

@media (min-width: 1200px) {
  .body--uncover,
  .body--hide {
    display: none;
  }
}

.body--hide {
  display: none;
}

.container {
  flex-direction: column;
  display: none;
}

@media (min-width: 1200px) {
  .container {
    display: flex;
  }
}

.open {
  display: flex;
}
.opening {
  animation: openingContainer 1.5s normal forwards linear;
}
.closing {
  animation: closingContainer 1.5s normal forwards linear;
}

@keyframes openingContainer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closingContainer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// @media screen and (min-width: 920px) {
//   .container {
//     display: flex;
//   }
//   .body--uncover {
//     display: none;
//   }
//   .priceList {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: 15rem repeat(7, 34rem);
//     height: 265rem;
//   }
//   .priceList > h1 {
//     grid-column: 1/5;
//     grid-row: 1/2;
//     align-self: center;
//   }
//   .card1 {
//     grid-column: 1/3;
//     grid-row: 2/9;
//   }
//   .card2 {
//     grid-column: 3/5;
//     grid-row: 2/4;
//   }
//   .card3 {
//     grid-column: 3/5;
//     grid-row: 4/5;
//     height: 40vh;
//   }
// }

// @media screen and (min-width: 1400px) {
//   .card--body {
//     font-size: $fontText * 1.2;
//     h3 {
//       font-size: $cardsBodyHeader * 1.2;
//     }
//   }
//   .priceList__card > h2 {
//     font-size: $cardsHeader * 1.2;
//   }
//   .priceList > h1 {
//     font-size: $sectionHeader * 1.2;
//   }
//   .card1 {
//     margin-left: 20%;
//     margin-right: 5rem;
//   }
//   .card2,
//   .card3 {
//     margin-right: 20%;
//     margin-left: 5rem;
//   }
// }

// @media screen and (min-width: 1800px) {
//   .card1 {
//     margin-left: 30%;
//   }
//   .card2,
//   .card3 {
//     margin-right: 30%;
//   }
//   .children {
//     margin-bottom: 10%;
//   }
// }

// @media screen and (min-width: 2000px) {
//   .children {
//     margin-bottom: 20%;
//   }
// }
