.price-list {
  background-color: $mainBlack;
  @include flex(column, center, stretch);
  padding-bottom: 4rem;
  color: $mainBlack;
  &__body {
    @include flex(column, space-between, stretch);
    font-size: $priceText;
    width: 90%;
    margin: 2rem auto;
  }
  &__body-header {
    font-family: $headerFamily;
    letter-spacing: 0.1rem;
    font-size: $cardsBodyHeader;
    text-align: center;
  }
  &__card {
    background-color: $mainWhite;
    width: 80%;
    margin: 2rem auto;
    @include flex(column, space-between, stretch);
    transition: all 2s ease-in-out;
  }
  &__container {
    flex-direction: column;
    display: none;
  }
  &__for {
    font-family: $headerFamily;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 2rem;
    font-size: $cardsHeader;
  }
  &__header {
    color: $mainWhite;
    font-size: $sectionHeader;
    font-family: $headerFamily;
    margin: 2rem 0;
    text-align: center;
  }
  &__line {
    margin: 1rem 0;
  }
  &__price {
    font-family: $headerFamily;
    font-weight: 700;
    padding: 0 1rem;
  }
  &__reveal,
  &__hide {
    font-size: 4rem;
    cursor: pointer;
    opacity: 0.8;
    align-self: flex-end;
    padding: 1rem 2rem;
  }
  &__hide {
    display: none;
  }
  &__reveal-icon {
    pointer-events: none;
  }
}

@media (min-width: 1200px) {
  .price-list {
    flex-direction: row;
    flex-wrap: wrap;
    &__body {
      font-size: $priceText * 1.2;
    }
    &__body-header {
      font-size: $cardsBodyHeader * 1.2;
    }
    &__card--children {
      width: 35%;
      margin-right: 10%;
      justify-content: flex-start;
    }
    &__card--man {
      width: 35%;
      margin-left: 10%;
    }
    &__card--woman {
      order: 3;
    }
    &__container {
      display: flex;
    }
    &__for {
      font-size: $cardsHeader * 1.2;
    }
    &__header {
      font-size: $sectionHeader * 1.2;
      width: 100%;
    }
    &__reveal,
    &__hide {
      display: none;
    }
  }
}

@media (min-width: 1500px) {
  .price-list {
    &__card {
      margin: 2rem 5rem;
      width: 50%;
      justify-content: center;
    }
  }
}

@media (min-width: 1800px) {
  .price-list {
    &__header {
      font-size: $sectionHeader * 1.4;
    }
    &__card-header {
      font-size: $cardsHeader * 1.4;
    }
    &__list-body {
      font-size: $priceText * 1.4;
    }
    &__body-header {
      font-size: $cardsBodyHeader * 1.4;
    }
    &__note {
      margin: 2rem 0;
      font-size: 1.2rem;
    }
  }
}

.open {
  display: flex;
}
.opening {
  animation: openingContainer 1.5s normal forwards linear;
}
.closing {
  animation: closingContainer 1.5s normal forwards linear;
}

@keyframes openingContainer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closingContainer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
