/* Main style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 10px;
}

li {
  list-style-type: none;
}

@import "variables";
@import "header";
@import "swiper";
@import "about";
@import "price-list";
@import "gallery";
@import "gallery-swiper";
@import "geolocation";
@import "footer";

a {
  text-decoration: none;
  color: $mainWhite;
}

body {
  font-family: $textFamily;
  background-color: $mainWhite;
  text-decoration: none;
  color: white;
}
