.navbar {
  background-color: $mainBlack;
  color: $mainWhite;
  // font-size: $navLinkSize;
  &-brand:hover {
    background-color: $mainBlack;
  }
  a {
    color: $mainWhite;
  }
  &-toggler {
    color: $mainWhite;
    border: 0.1rem solid $mainWhite;
  }
  &-toggler-icon{
    color: $mainWhite;
    background-color: $mainWhite;
  }
}

header img {
  height: 80vh;
  object-fit: cover;
  object-position: center;
}
